.content{
    background-color: white;
    border-radius: 10px;
}
.top_img{
    background-image: url(https://www.industrialempathy.com/img/remote/ZiClJf-1920w.jpg);
    background-position: center center;
    background-size: cover;
    height: 200px;
    border-radius: 10px;
}
