.item{
    display: flex;
    align-items: center;
    background: rgb(255, 84, 84);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: all ease 0.3s;
}
.item:hover{
    background: rgba(255, 84, 84, 0.409);
}
.item_avatar{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.item_text p:nth-child(2){
    font-size: 12px;
}
.active, .active:hover{
    margin: 10px 15px ;
    background: rgba(136, 109, 246, 0.3);
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5);
}
