.nav{
    display: flex;
    flex-flow: column;
    align-items: center;
    grid-area: nav;
    background-color: rgb(220, 234, 234);
}
.nav ul{
    list-style: none;
    padding-inline-start: 0px;
}
.nav a{
    text-decoration: none;
    color: black;
}