$app_bg_color: #F7F7F8;
*{
  box-sizing: border-box;
  font-family: Poppins;
}
a{
  text-decoration: none;
  color: black;
}
body{
  background-color: $app_bg_color;
}
.wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;
}

.wrapper_grid{
  grid-template-areas: 
  "nav content";
  grid-template-columns: 3fr 9fr;
  grid-gap: 20px;
}
.wrapper-content{
  grid-area: content;
  height: 90vh;
}
textarea{
  resize: none;
}
.nav {
  a.active{
    background: #FFFFFF ;
  }
}

@media (max-width: 500px){
  .wrapper_grid{
    grid-template-areas: 
    "nav content";
    grid-template-columns: 1fr 11fr;
    grid-gap: 20px;
  }
}

.loginError{
  border: 1px red solid;
  color: red;
}